.jobCard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    background-color: rgba(240,240,240,0.5);
    padding: 2vh;
    border-radius: 2vh;
}

.jobDescriptionHeading{
    line-height: normal;
    margin: 0 0;
    font-size: 3.5vh;

}

.jobDescription{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;  
    margin: 0 3vh 
}

.jobDescriptionItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.jobCardInfo{
    align-items: flex-start;
    line-height: normal;
    display: inline-flex;
    margin: 0 2vh 0 0;
    
}

.imgRound{
    height: 20vh;
    width: 20vh;
}



