.jobCard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    background-color: rgba(48, 50, 113, 0.1);
    padding: 2vh;
    border-radius: 2vh;
}

.jobDescriptionHeading{
    line-height: normal;
    margin: 0 0;
    font-size: 3.5vh;

}

.jobDescription{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;  
    margin: 0 3vh 
}

.jobDescriptionItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.jobCardInfo{
    align-items: flex-start;
    line-height: normal;
    display: inline-flex;
    margin: 0 2vh 0 0;
    
}

.imgRound{
    height: 20vh;
    width: 20vh;
}

/* button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
outline: 4px auto -webkit-focus-ring-color;
}
 */
