.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2vh;
}

.search-icon-and-input{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
    margin: 0 6vh;
}

.search-icon{
    height: 5vh;
    margin: 0 2vh;
}

input{
    height: 6vh;
    border-radius: 2vh;
    width: 20vw;
    font-size: 2.5vh;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2vw;
}

